{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <ul class="nav nav-pills">
      <li>
        <a class="nav-link"  href="{% url 'tasks:index' %}">
          Главная
        </a>
      </li>
      <li>
        <a class="nav-link"  href="{% url 'tasks:index' %}">
        Задачи
        </a>
      </li>
      <li>
        <a class="nav-link"  href="{% url 'tasks:index' %}">
          Выполненные
        </a>
      </li>
      <li>
        <a class="nav-link"  href="{% url 'tasks:index' %}">
          Войти
        </a>
      </li>
      <li>
        <a class="nav-link"  href="{% url 'tasks:index' %}">
          Регистрация
        </a>
      </li>
    </ul>
  </div>
</nav>