{% extends 'base.html' %}
{% block title%}
  Главная страница
{% endblock title %}
{% block content %}
  <div class ="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        {% for task in task_list %}
          <ul>
            <li>
              Задача: {{ task.title }}
            </li>
            <li>
              Описание: {{ task.description }}
            </li>
            <li>
              Дата создания: {{ task.created_at }}
            </li>
            <li>
              Крайняя дата: {{ task.deadline }}
            </li>
            <li>
              От кого: {{ task.author }}
            </li>
          </ul>
        {% endfor %}
      </div>
      <div class="col-sm-12 col-md-6">
        Колонка 2
      </div>
    </div>
  </div>
{% endblock content %}